body {
   background-repeat: no-repeat;
   background-position: center center;
   background-attachment: fixed;
   background-color: #FFFFFF ;
   color: #212121;
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 12px;
   margin: 10px;
   padding: 10px;
   min-width: 800px;
   line-height: 1.5;
}

p {
    padding-top: 10px;
}

a {
   color: #0066CC;
   text-decoration: none;
}

a:hover { 
   /* color: #6633CC; */
   text-decoration: none; 
}

hr { width: 100%; height: 1px; color: #e5ecf9;  background-color: #909090; margin-top: 10px; margin-bottom: 10px; border: none; }

.uri {  
	font-size: 10pt; 
	color: #0068AE; 
	text-decoration: none; 
}

h1 { text-align: center; font-size:16px; font-weight: bold; color:#2647a0; }

h2 { text-align: center; font-size:14px; font-weight: bold; color:#2647a0; }

.box {
        background: #e5ecf9;
        #background: #f4f379;
        padding: 10px;
        margin: 0 auto;
        border: 1px solid #417690;
        width: 80%;
}

.button, input[type=submit], input[type=button], input[type=reset] {
    background: white url(./nav-bg.gif) bottom repeat-x;
    padding: 3px 5px;
    color: black;
    border: 1px solid #bbb;
    border-color: #ddd #aaa #aaa #ddd;

}


.error { color: #ff0000; }

.highlight { color: #2647a0; }

.required { color: #2647a0; }

table caption {
	text-align: center;
	font-weight: bold;	
}

table td {
	padding: 5px;