<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration threshold="all" xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!--  Appenders  -->
	<appender name="esgf-out" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="conversionPattern" value="[%p] %C: %m%n" />
		</layout>
	</appender>

	<!-- Loggers -->
	<logger name="esg.security" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="esgf-out" />
	</logger>
	
	<root>
		<priority value="INFO" />
		<appender-ref ref="esgf-out" />
	</root>

</log4j:configuration>